* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.btn-bars i{
    font-size: 22px;
    color: #333333;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header-top {
    background: #333333;
}

.header-top .wrapper {
    display: flex;
    align-items: center;
    height: 46px;
    justify-content: space-between;
}

.header-socials a:not(:last-child) {
    margin-right: 20px;
}

.header-socials i {
    color: #fff;
}

.header-phone a {
    color: #abacae;
    font-size: 14px;
}

.header-bottom {
    background: #fff;
    z-index: 5;
    width: 100%;
    position: relative;
}

.navbar {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    
}

.logo,
.navbar-buttons {
    width: 180px;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-buttons a {
    margin-right: 20px;
}

.navbar-buttons i {
    color: #333333;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 0 15px;
}

.menu ul li a {
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transition: 0.1s;
}

.menu ul li a:hover {
    color: #898989;
}

.logo a {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 20px;
}

.hero {
    height: 630px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

.hero-logo {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.hero-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SERVICES * * * * * * * * * * * * * * * * * * * * * * * * * */

.services {
    z-index: 2;
    position: relative;
    background: #fff;
}

.services .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

.services-card {
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-card i {
    color: #333333;
    font-size: 32px;
    margin-right: 10px;
}


.services-card span:first-child {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.services-card span:nth-child(2) {
    font-size: 12px;
    color: #898989;
}

@media screen and (max-width: 1080px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 960px;
    }
}


@media screen and (max-width: 768px) {
    .services .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .services-card {
        justify-content: flex-start;
        margin: 10px 0;
        width: 240px;
    }
}
@media screen and (max-width: 480px) {
    .header-top {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 5;
        width: 100%;
    }
    .navbar{
        min-height: 46px;
    }
    .header-shop-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-buttons a {
        margin: 0 20px;
        flex-basis: 30%;
        display: flex;
        justify-content: center;
    }

    .navbar-buttons i {
        font-size: 18px;
    }

    .btn-bars i {
        font-size: 24px;
    }
}