* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.btn-bars i {
    font-size: 22px;
    color: #333333;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-violet {
    background: #96588A;
    color: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 1.25em;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
    transition: 0.2s;

}

.btn-violet:hover {
    background: rgb(116, 62, 105);
}

.btn-violet-outline {
    background: #fff;
    border: 1px solid #96588A;
    color: #96588A;
    height: 35px;
    line-height: 35px;
    padding: 0 1.25em;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
    transition: 0.2s;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header-top {
    background: #333333;
}

.header-top .wrapper {
    display: flex;
    align-items: center;
    height: 46px;
    justify-content: space-between;
}

.header-socials a:not(:last-child) {
    margin-right: 20px;
}

.header-socials i {
    color: #fff;
}

.header-phone a {
    color: #abacae;
    font-size: 14px;
}

.header-bottom {
    background: #fff;
    z-index: 5;
    width: 100%;
    position: relative;
}

.navbar {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;

}

.logo,
.navbar-buttons {
    width: 180px;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-buttons a {
    margin-right: 20px;
}

.navbar-buttons i {
    color: #333333;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 0 15px;
}

.menu ul li a {
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transition: 0.1s;
}

.menu ul li a:hover {
    color: #898989;
}

.logo a {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 20px;
}

.hero {
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

.hero-logo {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.hero-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SERVICES * * * * * * * * * * * * * * * * * * * * * * * * * */

.services {
    z-index: 2;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}

.services .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

.services-card {
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-card i {
    color: #333333;
    font-size: 32px;
    margin-right: 10px;
}

.services-card span:first-child {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.services-card span:nth-child(2) {
    font-size: 12px;
    color: #898989;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * BESTSELLERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.bestsellers {
    padding: 50px 0;
    border-bottom: 1px solid #f5f5f5;
}

.bestsellers h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.bestsellers-cards {
    display: flex;
    justify-content: space-around;
}

.bestseller-card {
    width: 300px;
    border: 1px solid #f5f5f5;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bestseller-photo {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}


.bestseller-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestseller-name {
    font-size: 18px;
    font-weight: 700;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 10px;
}

.bestseller-price {
    color: #96588A;
    font-weight: 800;
    padding: 0 15px;
    text-align: center;
}

.buy-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.buy-btns button {
    margin: 5px 0;
    width: 200px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CATEGORIES * * * * * * * * * * * * * * * * * * * * * * * * * */

.categories {
    padding: 50px 0;
}

.categories h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.categories-cards {
    display: flex;
    justify-content: space-around;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
    text-align: center;
}

.category-card:hover img {
    transform: scale(1.2);
}

.category-card img {
    height: 100px;
    object-fit: contain;
    transition: 0.4s;
}

.category-card h3 {
    margin-top: 20px;
    color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    background: #333333;
    padding: 40px 0;
    padding-bottom: 10px;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    padding: 0 15px;
}

.footer .logo a {
    color: #fff;
}

.footer-copyright {
    margin-top: 40px;
}

.footer-copyright h6 {
    font-size: 12px;
    color: #9c9c9c;
    text-align: center;
    font-weight: 300;
}
.footer-copyright h6:last-child {
    font-size: 8px;
    margin-top: 5px;
}

.footer-copyright a {
    color: #9c9c9c;
}

.footer-menu ul li a {
    color: #9c9c9c;
    margin: 5px 0;
    font-size: 14px;
    display: inline-flex;
}

.footer h5 {
    color: #fff;
}

.footer-column:not(:first-child) a {
    color: #9c9c9c;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
}
.footer-column:not(:first-child) a:hover {
    color: #fff;
}

.footer-column:last-child {
    display: flex;
    flex-direction: column;
}

.footer-column:last-child a{
    font-size: 14px;
    margin: 3px 0;
}
.footer-column:last-child a i{
  margin-right: 10px;
}

.footer-address {
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.footer-address p {
    font-size: 14px;
    color: #9c9c9c;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 1080px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    .services .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .services-card {
        justify-content: flex-start;
        margin: 10px 0;
        width: 240px;
    }
}

@media screen and (max-width: 480px) {
    .header-top {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    .navbar {
        min-height: 50px;
    }

    .header-shop-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-buttons a {
        margin: 0 20px;
        flex-basis: 30%;
        display: flex;
        justify-content: center;
    }

    .navbar-buttons i {
        font-size: 18px;
    }

    .btn-bars i {
        font-size: 24px;
    }
}