* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-bars {
    position: absolute;
    right: 15px;
    z-index: 21;
    height: 20px;
    width: 20px;
    display: none;
    margin-top: 4px;
}

.btn-bars span {
    display: block;
    height: 3px;
    background: #333333;
    border-radius: 2px;
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 20px;
}

.btn-bars span:first-child {
    top: 0;
    width: 20px;
    border-radius: 5px;
}

.btn-bars span:nth-child(2) {
    top: 6px;
}

.btn-bars span:nth-child(3) {
    top: 12px;
}


.btn-bars.active span:first-child {
    top: 34%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-bars.active span:nth-child(2) {
    opacity: 0;
}

.btn-bars.active span:last-child {
    top: 34%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn-violet {
    background: #96588A;
    color: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 1.25em;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

}

.btn-violet:hover {
    background: rgb(116, 62, 105);
}

.btn-violet-outline {
    background: #fff;
    border: 1px solid #96588A;
    color: #96588A;
    height: 35px;
    line-height: 35px;
    padding: 0 1.25em;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header-top {
    background: #333333;
}

.header-top .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-socials a:not(:last-child) {
    margin-right: 20px;
}

.header-socials i {
    color: #fff;
}

.header-phone a {
    color: #abacae;
    font-size: 14px;
}

.header-bottom {
    background: #fff;
    z-index: 5;
    width: 100%;
    position: relative;
}

.navbar {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;

}

.logo,
.navbar-buttons {
    width: 180px;
}

.navbar-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-buttons a:not(:last-child) {
    margin-right: 20px;
}

.navbar-buttons i {
    color: #333333;
}

.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu ul li {
    padding: 0 15px;
}

.menu ul li a {
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.menu ul li a:hover {
    color: #898989;
}

.logo a {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 20px;
}

.hero {
    height: 550px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.hero-logo {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.hero-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SERVICES * * * * * * * * * * * * * * * * * * * * * * * * * */

.services {
    z-index: 2;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}

.services .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 15px;
}

.services-card {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.services-card i {
    color: #333333;
    font-size: 32px;
    margin-right: 10px;
}

.services-card span:first-child {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.services-card span:nth-child(2) {
    font-size: 12px;
    color: #898989;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * BESTSELLERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.bestsellers {
    padding: 50px 0;
    border-bottom: 1px solid #f5f5f5;
}

.bestsellers h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.bestsellers-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.bestseller-card {
    width: 300px;
    border: 1px solid #f5f5f5;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bestseller-photo {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}


.bestseller-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bestseller-name {
    font-size: 18px;
    font-weight: 700;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 10px;
}

.bestseller-price {
    color: #96588A;
    font-weight: 800;
    padding: 0 15px;
    text-align: center;
}

.buy-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.buy-btns button {
    margin: 5px 0;
    width: 200px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CATEGORIES * * * * * * * * * * * * * * * * * * * * * * * * * */

.categories {
    padding: 50px 0;
}

.categories h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.categories-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.category-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    text-align: center;
}

.category-card:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.category-card img {
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.category-card h3 {
    margin-top: 20px;
    color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    background: #333333;
    padding: 40px 0;
    padding-bottom: 10px;
}

.footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-column {
    padding: 0 15px;
}

.footer .logo a {
    color: #fff;
}

.footer-copyright {
    margin-top: 40px;
}

.footer-copyright h6 {
    font-size: 12px;
    color: #9c9c9c;
    text-align: center;
    font-weight: 300;
}

.footer-copyright h6:last-child {
    font-size: 8px;
    margin-top: 5px;
}

.footer-copyright a {
    color: #9c9c9c;
}

.footer-menu ul li a {
    color: #9c9c9c;
    margin: 5px 0;
    font-size: 14px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.footer h5 {
    color: #fff;
}

.footer-column:not(:first-child) a {
    color: #9c9c9c;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.footer-column:not(:first-child) a:hover {
    color: #fff;
}

.footer-column:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer-column:last-child a {
    font-size: 14px;
    margin: 3px 0;
}

.footer-column:last-child a i {
    margin-right: 10px;
}

.footer-address {
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-address p {
    font-size: 14px;
    color: #9c9c9c;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 1080px) {
    .menu {
        display: block;
        position: fixed;
        height: 100vh;
        background: #fff;
        top: 0;
        right: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        z-index: 20;

    }

    .menu.active {
        visibility: visible;
        opacity: 1;
    }

    .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100vh;
    }

    .menu ul li a {
        font-size: 16px;
        font-weight: 600;
        margin: 5px 0;
        display: inline-block;
    }

    .btn-bars {
        display: block;
    }

    .navbar-buttons {

        padding-right: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 960px;
    }

    .bestseller-card {
        width: 250px;
    }

    .bestseller-photo {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 992px) {
    .footer .wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-column {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .services .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .services-card {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 10px 0;
        width: 240px;
    }

    .bestsellers-cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .bestseller-card {
        width: 400px;
        margin-bottom: 50px;
    }

    .bestseller-photo {
        width: 400px;
        height: 400px;
    }

    .category-card {
        padding: 0 15px;
    }

    .category-card img {
        height: 60px;
    }

    .category-card h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .categories-cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .category-card {
        margin-bottom: 50px;
    }

    .footer-column {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .header-top {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    .navbar {
        min-height: 50px;
    }

    .header-shop-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .navbar-buttons a {
        margin: 0 20px;
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .navbar-buttons i {
        font-size: 18px;
    }

    .btn-bars i {
        font-size: 24px;
    }

    .bestseller-card {
        width: 100%;
    }

    .bestseller-photo {
        width: 100%;
        height: unset;
    }
}